mark {
    font-size: 50px;
    background-color: blue;
}

#flex {
    display: flex;
    width: 0px;
    justify-content: space-between;
}

#colorPick {
    margin-left: 20px;
    padding-left : 20px;
}


